/*
* @Author: suntoo_2016_001
* @Date:   2016-09-14 11:10:53
* @Last Modified by:   suntoo_2016_001
* @Last Modified time: 2016-09-19 10:33:11
*/

body{background: #efeff4}
header{
    width: 100%;
    position: fixed;
    
    height: 45px;
    top: 0;
    z-index: 100000;
    
}
header h2{
    text-align: center;
    line-height: 45px;
    color: #fff;
    background: #e60012;
    font-size: 19px;
}
/* banner */
.section{padding:0 10px;}


.liangDian{background: #fff;padding-bottom:4px;padding-bottom: 10px;padding-top: 45px;}
.liangDian h2{ font-size: 16px;line-height: 30px;position: relative;
	padding-left: 16px; margin-bottom: 5px;}
.liangDian h2 em{width: 3px ;height: 16px;background: #e50014;position: absolute;top: 7px;left: 6px; margin-right: 5px;}
.liangDian ul li{width: 100%;padding: 15px 0;border-bottom: 1px solid #c8c7cc}

.liangDian ul li:last-child{border:none;padding-bottom: 5px;}
.liangDian ul li .box{
	overflow: hidden;
	padding: 0 10px;
}
.liangDian ul li .box figure{
	width: 100px;height: 75px;
	float: left;
}
.liangDian ul li .box figure img{
	width: 100px;height: 75px;
	
}
.liangDian .hanzi{margin-left: 110px;height: 75px;position: relative;}
.liangDian .hanzi .last{
position: absolute;bottom: -1px;left: 0;color: #909090;color: #e60012
}

.liangDian .hanzi strong{font-weight: 100;color: #e60012 ;font-size: 16px;}
.liangDian .hanzi p{color: #909090;line-height: 20px;}
.liangDian ol{width: 100%;height: 43px;border-bottom: 1px solid #c8c7cc}
.liangDian ol li{ float: left; width: 50%; text-align: center;line-height: 43px;color: #909090; }
.liangDian ol li.active{ color: #e50014 ;}
.liangDian .yongjin{font-size: 16px;}